@using System
@using RaceTest1.Shared

@page "/"

<!-- Once again, I simply ran out of time on this.

But at least the first page mostly works. -->

<div class="container">
    @switch (Game.currentTask)
    {
        case Game.Task.GetNumberOfPlayers:
           
            // Header
            <h2>How many players?</h2>

            // Input number of players
            <input type="number"
                id="playerNumber"
                name="playerNumberInput"
                @bind-value="Game.numberOfPlayers">

            // Play button!
            <button class="btn btn-dark mt-4"
                type="button"
                @onclick="() => { Game.currentTask = Game.Task.GetNames; }"
                >PLAY!
            </button>

            break;

        case Game.Task.GetNames:
            
            // Player name inputs
            @if (Game.numberOfPlayers > 0)
            {
                <div class="row mt-12" style="padding: 5px; display: flex; flex-direction: row;">
                    @for (var i = 0; i < Game.numberOfPlayers; i++)
                    {
                        int playerNumber = i;
                        <div class="col md-3">
                            <div class="form-group">
                                <label for="playerInput@(playerNumber)">Player @(playerNumber + 1)</label>
                                <input type="text" class="form-control" @bind-value="Game.playerNames[playerNumber]" />
                            </div>
                        </div>
                    }
                </div>
            }

            // Play button, again!
            <button class="btn btn-dark mt-4"
                type="button"
                @onclick="() => { Game.currentTask = Game.Task.TableMode; }"
                >PLAY!
            </button>

            break;
    }


</div>

<!--
<form>
    <label for="playerNumber">How Many Players?</label><br>
    <input type="text" id="playerNumber" name="playerNumber" value="1">
    <br>
    <button type="button" class="btn btn-primary" @bind="@Game.numberOfPlayers">Pick some cards</button>
    <br />
</form>

<div>
    @foreach(var player in Game.players)
    {
        <h4>@player.name</h4>
        <h4>@player.score</h4>
        <h4>@player.status</h4>
        <br />
    }
</div>

-->